
body{
    background-color: rgb(243, 237, 229);
}
header, footer, .original{
    background-color:#005f73;
}
main{
    min-height: calc(100vh - 140px);
}
#result{
    position: relative;
    height: 36vh;
    overflow-y: auto;
}